<app-header></app-header>
<main>
    <section class="main-section" pad-70>
        <div class="headline">
            <span>Checkpoint</span>
            <h1>Desvende os segredos de Pernambuco com o Checkpoint. <br> Sua aventura começa agora.</h1>
        </div>
        <img ngSrc="./assets/principal.png" width="669" height="536"/>
    </section>

    <section class="info-section" pad-70>
        <div class="info-data">
            <h2>70% dos <br> turístas</h2>
        </div>
        <p>preferem <b>não explorar</b> além das <br> áreas turísticas tradicionais de Pernambuco.</p>
    </section>
</main>
